<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Register</title>
</head>
<body>
    <main>
        <main>
                <form action="/save" enctype="multipart/form-data" method="post">      
                    <fieldset >
                        <h1>Crear cuenta</h1> 
                        <label for>Nombre Completo :</label>
                        <input type="text" name="name" id="name" required>

                        <label for>Número de celular :</label>
                        <input type="number" name="phone" id="phone" required>
                        
                        <label for>Correo electrónico :</label>
                        <input type="email" name="email" id="email" required>
    
                        <label for>Contraseña :</label>
                        <input type="password" name="password" placeholder="*****" id="password" required>
    
                        <label for="">Foto de usuario :</label> 
                        <input type="file" id="file" name="file">
                        
                        <button type="submit">Registrarme</button> 
                    </fieldset>
                </form>
    </main>
</body>
</html>